<!-- <div class="row jumbotron col-md-12" style="background:powderblue;">
  <div class="color">
    <ul>
      <li class="delete-form marg"><a href="#">COMPANY</a></li>
      <li class="delete-form marg"><a href="#">CAREERS</a></li>
      <li class="delete-form marg"><a href="#">ABOUT</a></li>
      <li class="delete-form marg"><a href="#">TERMS & CONDITIONS</a></li>
    </ul>
  </div>
</div> -->
</div>
<!-- jQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>